<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="site-title">
        <a class="navbar-brand" href="/"><h1>Nirdesh Blog</h1></a>
        <p>Net Nirdesh Sites</p>
    </div>
    <ul>
        <li><a class="navbar-brand" href="/blogs">Blogs</a></li>
        <li><a class="navbar-brand" href="/about">About</a></li>
        <li><a class="navbar-brand" href="/blogs/create">New Blog</a></li>
    </ul>
</nav>

<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>

  