<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" cobtent="width-device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <%- include('../partials/nav.ejs'); %>
        <div class="about content">
            <h2>About Us</h2>
            <p>AAAAA AAAAAA AAAAAAAAAAAAA AAAAAAAAAAAA</p>
            <p>BBBBB BBBBBB BBBBBBBBBBBBB BBBBBBBBBBBB</p>
            <p>CCCCC CCCCCC CCCCCCCCCCCCC CCCCCCCCCCCC</p>
        </div>
    </body>
</html>